{% extends 'base/base.html' %}
{% block title %}
<title>Robocode | Sahifa topilmadi 404</title>
{% endblock %}
{% block content %}
<div class="text-center" style="padding-top:5%;">
    <a>
        <img src="/static/images/custom/404.png"  style="max-width:100%;">
    </a>
</div>
<style>
     @media(min-width:1650px){
    img{
        width:600px;
        max-width:600px;
    }
    }
    @media(min-width:1900px){
    img{
        width:700px;
        max-width:700px;
    }
    }
</style>
{% endblock %}