{% extends 'base/base.html' %}
{% block title %}
<title>Robocode | Bosh Sahifa</title>
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="/static/css/swiper/swiper.css">
<link rel="stylesheet" type="text/css" href="/static/css/main/mainpage/main.css">
{% endblock %}
{% block header_course %}
<section class="section_header_courses" id="header">
    <div class="container_lg">
        <div class="header_courses_container">
            <div class="courses_left">
                <div class="course_number" >
                    <a>
                        <img src="/static/images/mainpage/header/number_first.png" alt="">
                    </a>
                </div>
                <div class="course_border_circle">
                    <div class="circle border_circle1"></div>
                </div>
                <div class="course_border_circle">
                    <div class="circle border_circle2"></div>
                </div>
                <div class="course_border_circle">
                    <div class="circle border_circle3"></div>
                </div>
                <div class="course_border_circle">
                    <div class=" border_circle4">
                        <div class="swiper course_swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide course_sliders">
                                    <a>
                                        <img src="/static/images/mainpage/header/web.png" alt="web dasturlash">
                                    </a>
                                </div>
                                <div class="swiper-slide course_sliders">
                                    <a>
                                        <img src="/static/images/mainpage/header/arduino.png" alt="robota texnika">
                                    </a>
                                </div>
                                <div class="swiper-slide course_sliders">
                                    <a>
                                        <img src="/static/images/mainpage/header/lego.png" alt="grafik dizayn"
                                        style="transform:translateY(-8%) translateX(3%) ;">
                                    </a>
                                </div>
                                <div class="swiper-slide course_sliders">
                                    <a>
                                        <img src="/static/images/mainpage/header/grafik.png" alt="grafik dizayn">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="courses_right">
                <div class="course_typer">
                     <p>
                         <span
                             class="typer" id="main"
                             data-words="Dasturlashni,Robota texnikani,Lego mindstromni,Grafik dizaynni"
                             data-delay="150" data-deleteDelay="2000">
                             </span>
                        <span class="cursor" data-owner="main" data-cursorDisplay="|"></span>
                     </p>
                </div>
                <div class="typer_under_text">
                    <p>
                        o‘rganish uchun orzu <br class="typer_br"> emas harakat qil !
                    </p>
                </div>
            </div>
        </div>
        <div class="course_btn">
            <div>

            </div>
            <div>
                <a href="#free_course">
                    <button>Bepul sinov darsiga yozilish</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<main>
    <article>
        <section class="section_lines" >
            <img src="/static/images/mainpage/main/number_second.png" alt="1">
            <p>Barcha Kurslar</p>
        </section>
        <section class="section_main_courses" id="courses">
            <div class="container_sm section_main_courses_container">
                {% for course in courses %}
                    <div class="course_blocks">
                        <div class="course_items">
                            <div class="course_texts">
                                <div>
                                    <h1>{{course.name}}</h1>
                                    <p>
                                        {{course.about1|slice:"0:200"|safe}}...
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'main:detail' course.slug %}">
                                        <button>Batafsil</button>
                                    </a>
                                </div>
                            </div>
                            <div class="course_img">
                                <a href="{% url 'main:detail' course.slug %}">
                                    <img src="{{course.img.url}}" alt="{{course.name}}">
                                </a>
                            </div>
                            <div class="course_mobile">
                                <p>{{course.name}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="section_lines">
            <p class="text-center">Bizning o‘quvchilar qayerda <br> ishlashadi ?</p>
        </section>
        <section class="section_group">
            <div class="container_lg">
                <div class="groups">
                    <div class="group">
                        <a class="group">
                            <img src="/static/images/mainpage/main/i_tech.png" alt="i_tech">
                        </a>
                    </div>
                    <div class="group">
                        <a>
                            <img src="/static/images/mainpage/main/uic_group.png" alt="uic_group">
                        </a>
                    </div>
                    <div class="group">
                        <a class="group">
                            <img src="/static/images/mainpage/main/texnopark.png" alt="texnopark">
                        </a>
                    </div>
                    <div class="group">
                        <a class="group">
                            <img src="/static/images/mainpage/main/rework.png" alt="rework">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_lines">
                <img src="/static/images/mainpage/main/number_third.png" alt="1">
                <p class="text-center">Biz nima bilan farq <br>qilamiz ?</p>
        </section>
        <section class="section_difference">
            <div class="differences">
                <div class="difference_img">
                    <div class="dots">
                        <picture>
                         <source srcset="/static/images/mainpage/main/dots.png" media="(min-width: 576px)">
                         <img  src="/static/images/mainpage/main/dots_mobile.png">
                        </picture>
                    </div>
                    <div class="phone">
                        <img class="phones" src="/static/images/mainpage/main/phone1.png">
                    </div>
                </div>
                <div class="difference_text">
                    <div></div>
                    <p>
                        Har darsdagi amaliy topshirqlar - algoritmlar bilan ishlash ko’nikmasini oshiradi va o’quvchida dasturlash va injenerlik kasbini rivojlantiradi. Muntazam imtihonlar orqali bilmlar mustahkamlab boriladi.
                    </p>
                </div>
            </div>
            <div class="differences">
                <div class="difference_text">
                    <div></div>
                    <p>
                        <span>STEM</span> yo'nalishidagi darslar, Robototexnika va Dasturlash orqali bolalarni matematika va fizikaga o'rgatiladi. <span>70 %</span> amaliy <span>30 %</span> nazariy bilimlar.Darslar davomida o'ziga xos muhokama va munozaralar bo'lib o'tadi.
                    </p>
                </div>
                <div class="difference_img">
                    <div class="phone">
                        <img class="phones" src="/static/images/mainpage/main/phone2.png">
                    </div>
                    <div class="dots">
                        <picture>
                         <source srcset="/static/images/mainpage/main/dots.png" media="(min-width: 576px)">
                         <img  src="/static/images/mainpage/main/dots_mobile.png">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="differences">
                <div class="difference_img">
                    <div class="dots">
                        <picture>
                         <source srcset="/static/images/mainpage/main/dots.png" media="(min-width: 576px)">
                         <img  src="/static/images/mainpage/main/dots_mobile.png">
                        </picture>
                    </div>
                    <div class="phone">
                        <img class="phones" src="/static/images/mainpage/main/phone3.png">
                    </div>
                </div>
                <div class="difference_text">
                    <div></div>
                    <p>
                      O'quvchilar shaxsiy loyihalarini yo'lga qo'yishida ko'maklashiladi yo'l yo'riq ko'rsatiladi. Iqtidorli o'quvchilar uchun Toshkentdagi nufuzli IT firmalarda stajirovka qilish imkoniyati.
                    </p>
                </div>
            </div>
        </section>
        <section class="ceo_section">
            <div class="ceo">
                <div class="ceo_mobile">
                    <span>CEO</span>
                </div>
                <div class="ceo_img">
                    <a>
                        <img src="/static/images/mainpage/main/ceo.png" alt="">
                    </a>
                </div>
                <div class="ceo_text">
                    <div></div>
                    <p>
                        <span>CEO</span>
                        Velit mattis tortor massa arcu sapien integer. Cursus habitant etiam varius amet eget tincidunt. Id in elementum interdum tristique semper. Vitae, nullam ornare viverra vel, praesent sit. Ut quam dui ultrices mattis faucibus aliquam, et commodo vel.
                        <span>Abdulaziz Yakubov</span>
                    </p>
                </div>
            </div>
        </section>
        <section class="section_robocode_group" id="robocode_gr">
            <div class="robocode_group">
                <div class="rb_group_img">
                    <div class="rb_group_dots">
                        <picture>
                         <source srcset="/static/images/mainpage/main/dots.png" media="(min-width: 576px)">
                         <img  src="/static/images/mainpage/main/dots_mobile.png">
                        </picture>
                    </div>
                    <div class="rb_group_tablet">
                        <img src="/static/images/mainpage/main/tablet.png" alt="tablet">
                        <div class="robocode_group_members">
                            <div class="swiper members_swiper">
                                <div class="swiper-wrapper members_swiper_wrapper">
                                    <div class="swiper-slide members_slides">
                                        <div class="rbx_members_img">
                                            <a>
                                                <img src="/static/images/mainpage/main/web.png" alt="members">
                                            </a>
                                        </div>
                                        <div class="rbx_about_member">
                                            <p>Abdurahmon Rashidov</p>
                                            <p>Fullstack web dasturlash kursi mentori. Python web-developer.</p>
                                        </div>
                                        <div class="rbx_member_logo">
                                            <a>
                                                <img src="/static/images/mainpage/main/python.png" alt="members">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide members_slides">
                                        <div class="rbx_members_img">
                                            <a>
                                                <img src="/static/images/mainpage/main/admin.png" alt="members">
                                            </a>
                                        </div>
                                        <div class="rbx_about_member">
                                            <p>Ro’ziboy Sattimjonov</p>
                                            <p>Sotuv bo’limi boshlig’i. Kompyuter injeneri.</p>
                                        </div>
                                        <div class="rbx_member_logo">
                                            <a>
                                                <img src="/static/images/mainpage/main/users.png" alt="members">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide members_slides">
                                        <div class="rbx_members_img">
                                            <a>
                                                <img src="/static/images/mainpage/main/arduino.png" alt="members">
                                            </a>
                                        </div>
                                        <div class="rbx_about_member">
                                            <p>Kozimbek Kamolov</p>
                                            <p>Arduino - Junior robototexnika kursi mentori. Robototexnik</p>
                                        </div>
                                        <div class="rbx_member_logo">
                                            <a>
                                                <img src="/static/images/mainpage/main/robot.png" alt="members">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide members_slides">
                                        <div class="rbx_members_img">
                                            <a>
                                                <img src="/static/images/mainpage/main/Qosimjon.png" alt="members">
                                            </a>
                                        </div>
                                        <div class="rbx_about_member">
                                            <p>Qosimjon Mamadiyorov</p>
                                            <p>Injener, bolalar uchun dasturlash kursi mentori. Robototexnik</p>
                                        </div>
                                        <div class="rbx_member_logo">
                                            <a>
                                                <img src="/static/images/mainpage/main/robot.png" alt="members">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide members_slides">
                                        <div class="rbx_members_img">
                                            <a>
                                                <img src="/static/images/mainpage/main/smm.png" alt="members">
                                            </a>
                                        </div>
                                        <div class="rbx_about_member">
                                            <p>Jasurbek Abdurazzaqov</p>
                                            <p>Robocode IT academy menedjeri</p>
                                        </div>
                                        <div class="rbx_member_logo">
                                            <a>
                                                <img src="/static/images/mainpage/main/users.png" alt="members">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination members_swiper_pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rb_group_text">
                    <p>Robocode jamoasiga <br> qo‘shiling</p>
                </div>
            </div>
        </section>
        <section class="section_lines">
                <img src="/static/images/mainpage/main/number_four.png" alt="1">
                <p class="text-center">Rasm va videolar <br> to‘plami</p>
        </section>
        <section class="section_gallery" id="gallery">
            <div class="gallery_container">
                <div class="gallery_dots">
                    <img src="/static/images/mainpage/main/dots.png" >
                </div>
                <div class="gallery_notebook">
                    <a href="{% url 'main:gallery' %}">
                        <img src="/static/images/mainpage/main/notebook.png">
                    </a>
                </div>
            </div>
        </section>
        <div class="rb_group_text last_videos_text" >
            <p>So‘nggi videolar</p>
        </div>
        <section class="section_difference">
            <div class="differences for_delete"></div>
            <div class="differences last_videos">
                <div class="difference_text" style="transform:translateX(-50%);">
                    <p>
                        Bu yerda you tube sahifamizga joylanib boradigon videolar bolimi. Siz bu videolar orqali qiziqarli malumotlar bilib olasz.
                    </p>
                </div>
                <div class="difference_img">
                    <div class="phone" style="transform:translateX(50%); position: relative;">
                        <img class="phones" src="/static/images/mainpage/main/last_videos.png">
                        <div class="last_videos_block">
                           {% for video in videos|slice:":1" %}
                                <div class="ifr_last_video_blocktop">
                                    <iframe src="{{video.url}}" title="{{video.title}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <h3>{{video.title|slice:"60"}}...</h3>
                                    <p>{{video.about|safe|slice:"120"}}...</p>
                                    <a href="https://www.youtube.com/results?search_query=robocode" target="_blank">Robocode IT Academy </a>
                                </div>
                            {% endfor %} 
                            <div class="ifr_all_videos">
                                {% for video in videos|slice:"1:" %} 
                                    <div class="all_ifr_blocks">
                                        <div class="all_ifr_iframe">
                                            <iframe src="{{video.url}}" title="{{video.title}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        <div class="all_ifr_text">
                                            <p>{{video.title|slice:"40"}}...</p>
                                            <a href="{{video.url}}" target="_blank">Batafsil</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="all_vidoes_btn">
                                <a href="https://www.youtube.com/results?search_query=robocode" target="_blank">
                                    <button>Barcha videolar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="dots">
                        <picture>
                         <source srcset="/static/images/mainpage/main/dots.png" media="(min-width: 576px)">
                         <img  src="/static/images/mainpage/main/dots_mobile.png">
                        </picture>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_lines" id="asks">
                <img src="/static/images/mainpage/main/number_five.png" alt="1">
                <p class="text-center">Tez-tez beriladigon<br>savollar</p>
        </section>
        <section class="section_asks">
            <div class="container_lg">
                <div class="asks_container">
                    <div class="asks_filed_left">
                        <ul class="asks_filed_items">
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>1</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Robocode asoschisi kim ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>2</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Kurslar qancha vaqt davom etadi ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>3</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Kursdan so‘ng qayerda ishlash mumkin ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>4</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Qandan ro‘yxatdan o‘taman ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>5</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Kurslar narxi qancha ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="asks_filed_right">
                        <ul class="asks_filed_items">
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>1</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Robocode asoschisi kim ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>2</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Kurslar qancha vaqt davom etadi ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>3</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Kursdan so‘ng qayerda ishlash mumkin ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>4</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Qandan ro‘yxatdan o‘taman ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="ask_title" onclick="asks(this)">
                                    <div class="ask_title_number_left">
                                        <span>5</span>
                                    </div>
                                    <div class="ask_title_text">
                                        <span>Kurslar narxi qancha ?</span>
                                    </div>
                                    <div class="ask_title_number_right">
                                        <span>+</span>
                                    </div>
                                </div>
                                <div class="ask_sub_field">
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                    <p>
                                        Nulla lacus, et et faucibus tortor massa. Rutrum habitasse nunc condimentum mi vel sit pulvinar eget leo.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_lines" id="free_course">
                <img src="/static/images/mainpage/main/number_six.png" alt="1">
                <p class="text-center">Bepul darsga yoziling</p>
        </section>
        <section class="section_sign_up">
            <div class="container_lg">
                <div class="sign_up_container">
                    <div class="sign_up_img">
                        <a>
                            <img src="/static/images/mainpage/main/form.png">
                        </a>
                    </div>
                    <div class="sign_up_form">
                        <form method="POST" onsubmit="sendForm(this)">
                            <div class="form_field">
                                <label>Ism-Familiya*</label>
                                <input type="text" name="full_name" maxlength="100" required="" id="id_full_name">
                            </div>
                             <div class="form_field">
                                <label>Yosh*</label>
                                <input type="number" name="age" required="" id="id_age">
                            </div>
                            <div class="form_field">
                                <label>Telefon raqam*</label>
                                <input type="number" name="number" placeholder="+998" required="" id="id_number">
                            </div>
                            <div class="form_field">
                                <label>Kurs*</label>
                                <select name="course" required="" id="id_course">
                                      <option value="" selected="">---------</option>
                                      {% for course in courses %}
                                        <option value="{{course.id}}">{{course.name}}</option>
                                      {% endfor %}
                                </select>
                            </div>
                            <div class="form_field">
                                <label>Qo’shimcha habar*</label>
                                <textarea name="message" cols="" rows="" style="" id="id_message"></textarea>
                            </div>
                            <div class="form_field">
                                <input type="submit" value="Yuborish">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
{% include 'notifications/notification.html' %}
{% endblock %}
{% block js %}
<script src="/static/js/swiper/swiper.js"></script>
<script src="/static/js/typer/typer.js"></script>
<script src="/static/js/main/mainpage/main.js"></script>
{% endblock %}